.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

.cart-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.cart-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.cart-item-info {
  display: flex;
  align-items: center;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.cart-item-quantity {
  font-size: 1.1rem;
}

.cart-item-remove-button {
  border: none;
  background-color: transparent;
  color: #e74c3c;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 5px 10px;
  border-radius: 5px;
}

.cart-item-remove-button:hover {
  color: #fff;
  background-color: #e74c3c;
}

.cart-summary-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.cart-summary {
  width: 100%;
}

.cart-summary h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.item-quantity,
.total-price {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}
