.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 20px 7%;
}

.product-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.product-card:hover {
  border-color: #888;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.product-img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.product-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-desc {
  margin: 10px 0;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}

.product-price {
  font-weight: bold;
  margin: 10px 0;
}

.product-rating {
  color: #888;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
  color: #fff;
}
